<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Encrypted Notes App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-lg-6" data-ng-controller="NotesCtrl">
      <h1>Notes</h1>

      <form class="input-group" data-ng-show="!hasPassword">
        <input autofocus class="form-control" type="password" placeholder="Enter password ..." data-ng-model="password">
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="load()">Set Password</button>
        </span>
      </form>

      <ul data-ng-show="hasPassword">
        <li class="list-group-item" data-ng-repeat="note in notes track by $index">
          <button class="btn btn-danger" data-ng-click="remove($index)">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
          {{note.text}}
        </li>
      </ul>

      <form class="input-group" data-ng-show="hasPassword">
        <input autofocus class="form-control" type="text" placeholder="Enter note ..." data-ng-model="newNote">
        <span class="input-group-btn">
          <button class="btn btn-default" data-ng-click="add()">Add note</button>
        </span>
      </form>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/sjcl/sjcl.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="notes.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
